body {
  position: relative;
  margin: 0; /* Ensure there’s no margin to avoid unwanted gaps */
  background-image: url('C:\\Users\\Kshitij Joshi\\Documents\\project SIH\\pdf\\pixelgarden\\images\\background.png');
  background-repeat: no-repeat;
  background-size: 80vw;
  background-position-y: 10%;
  background-position-x: 40%;
  
}

.container{
  max-width:100%;
  margin:0 auto;
}

.navigation{
    height:72px;
    width:auto;
    display:flex;
    justify-content: space-between;
    align-items:centre;
    background-color:#f1f998;
}

.navigation ul{
  padding:10px;
  display:flex;
  gap:24px;
  list-style-type:none;
  font-weight:500;
  cursor:pointer;
}

.navigation img{
  opacity:200%;
}

.icons{
   display:flex;
   justify-content:space-between;
   gap:10px;
}

.search_field{
  margin-left:20%;
  display:flex;
  justify-content:center;
  align-items: center;
  height:90px;
  width:60%;
  border-radius: 90px;
  border-color: rgb(66, 145, 194);
  border-width: 3px;
  font-size: 30px;
  box-shadow: 0 0 15px 5px rgba(255, 255, 0, 0.8);
  transition: box-shadow 0.3s ease-in-out;
}

.search_field:hover {
  box-shadow: 0 0 20px 10px rgba(255, 255, 0, 1);
}


.search_container{
    position:absolute;
    width:100vw;
}
